html{
    height: 100vh;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header, .inf, .quote, .signup, .footer{
    flex: 1;
}

.wtf{
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
}

.top{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.desc{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    gap: 50px;
    margin: 90px 0;
}

.hero{
    width: 50%;
}

.img{
  max-width: 500px;
  max-height: 188px;
  width: 500px;
  height: 188px;
  background-color: rgb(118, 120, 129);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.inf{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures{
    display: flex;
    flex: 1;
}

.pic{
    margin: 20px;
}

.pic_text{
    text-align: center;
    margin-top: 6px;
    color: rgb(92, 92, 92);
}

.pic_box{
    border: solid #3882F6;
    padding: 80px;
    border-radius: 12px;
}

button{
    background-color: #3882F6;
    margin-top: 8px;
    border-radius: 12px;
    padding: 6px;
    width: 150px;
}

.header, .footer{
    background-color: #1F2937;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.Hero_sub, .links, button, .footer, .img{
    font-size: 18px;
    color: #E5E7EB
}

.signup{
    background-color: #3882F6;
}

.inf_header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote{
    background-color: #E5E7EB;
    font-style: italic;
    font-weight:lighter;
    font-size: 36px;
    color: #1F2937;
}

