body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header, .information, .quote, .signup, .footer{
    padding: 1% 15%; 
    display:flex;
}

.header{
    flex-direction: column;   
}

.top{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.footer{
    justify-content: center;
    align-items: center;
    min-height: 42px;
}

img{
    max-width: 50px;
    max-height: 50px;
}

button{
    background-color: #3882F6;
}

.header, .footer{
    background-color: #1F2937;
}

.Hero{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.Hero_sub, .links, button, .footer{
    font-size: 18px;
    color: #E5E7EB
}

.desc{
    display: flex;
}

.signup{
    background-color: #3882F6;
}

.inf_header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote{
    background-color: #E5E7EB;
    font-style: italic;
    font-weight:lighter;
    font-size: 36px;
    color: #1F2937;
}

